@mixin visually-hidden($element) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;

  &:focus + #{$element}::before {
    outline: $global-focus-color solid 0.1rem;
    box-shadow: 0 0 0.5rem $global-focus-color;
  }
}

@mixin custom-checkbox() {
  input[type='checkbox'] {
    @include visually-hidden(label);
    &:checked + label:before {
      background-color: $global-background-color;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      border-left: 0.2rem solid $global-text-color;
      border-bottom: 0.2rem solid $global-text-color;
      height: 0.4rem;
      left: 0.075rem;
      top: 0.25rem;
      transform: rotate(-45deg);
      width: 0.8rem;
    }
  }

  label {
    cursor: pointer;
    display: flex;
    margin-bottom: 0.25rem;
    position: relative;

    &:before {
      background-color: $global-text-color;
      background-size: 1rem;
      border-radius: 0.125rem;
      content: '';
      display: inline-block;
      height: 1rem;
      left: 0;
      margin-right: 0.5rem;
      position: relative;
      width: 1rem;
    }
  }
}